bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings*
*.ReSharper*
*.Rider*
.idea/
*.xml
*.txt
*.config
*.user
*.suo
.vs
*.log
logs/
*.dll
*.exe
*.pdb
.vscode/
*.generated.cs
workspace.xml